
$success: #3c9c1e;
$warning: #fd7e14;

$component-active-bg: #fd7e14;

$input-btn-font-family: 'Lato', sans-serif;
$btn-font-family: 'Lato', sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";